<html>
	<head>
		<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/pure-min.css">
		<link rel="stylesheet" href="css/reset.css"/>
		<link rel="stylesheet" href="css/recipes.css"/>
	</head>

<body id="recipes">
<h1>You've been foodly'd: </h1>
		<% @recipe_name_list = @data["matches"].map{ |recipe| recipe["recipeName"]} %>
    	<% @ingredients_list = @data["matches"].map {|recipe| recipe["ingredients"]} %>
    	<% @total_time = @data["matches"].map {|recipe| recipe["totalTimeInSeconds"]} %>
    	<% @ratings = @data["matches"].map {|recipe| recipe["rating"]} %>
    	<% @images = @data["matches"].map {|recipe| recipe["smallImageUrls"]} %>
    	<% @id = @data["matches"].map {|recipe| recipe["id"]} %>
    

    <h2><%= @recipe_name_list[0]%></h2>
    <section>
		<img src="<%= @images[0].pop %>" class="images">
		<ul>
			<li>Ingredients: <%= @ingredients_list[0] %></li>
			<li>Rating: <%= @ratings[0]%></li>
			<li>Go to blog: <a href="<%= "https://www.yummly.co.uk/recipe/" + "#{@id[0]}"%>"><%= "https://www.yummly.co.uk/recipe/" + "#{@id[0]}"%></a></li>
			<li>Total time: <%= @total_time[0].to_i / 60 %> minutes</li>
		</ul>
	</section>

	<h2><%= @recipe_name_list[1]%></h2>
	<section>
		<img src="<%= @images[1].pop %>">
		<ul>
			<li>Ingredients: <%= @ingredients_list[1]%></li>
			<li>Rating: <%= @ratings[1]%></li>
			<li>Go to blog: <a href="<%= "https://www.yummly.co.uk/recipe/" + "#{@id[1]}"%>"><%= "https://www.yummly.co.uk/recipe/" + "#{@id[1]}"%></a></li>
			<li>Total time: <%= @total_time[1].to_i / 60 %> minutes</li>
		</ul>
	</section>

	<h2><%= @recipe_name_list[2]%></h2>
	<section>
		<img src="<%= @images[2].pop %>">
		<ul>
			<li>Ingredients: <%= @ingredients_list[2]%></li>
			<li>Rating: <%= @ratings[2]%></li>
			<li>Go to blog: <a href="<%= "https://www.yummly.co.uk/recipe/" + "#{@id[2]}"%>"><%= "https://www.yummly.co.uk/recipe/" + "#{@id[2]}"%></a></li>
			<li>Total time: <%= @total_time[2].to_i / 60 %> minutes</li>
		</ul>
	</section>

	<h2><%= @recipe_name_list[3]%></h2>
	<section>
		<img src="<%= @images[3].pop %>">
		<ul>
			<li>Ingredients: <%= @ingredients_list[3]%></li>
			<li>Rating: <%= @ratings[3]%></li>
			<li>Go to blog: <a href="<%= "https://www.yummly.co.uk/recipe/" + "#{@id[3]}"%>"><%= "https://www.yummly.co.uk/recipe/" + "#{@id[3]}"%></a></li>
			<li>Total time: <%= @total_time[3].to_i / 60 %> minutes</li>
		</ul>
	</section>

	<h2><%= @recipe_name_list[4]%></h2>
	<section>
		<img src="<%= @images[4].pop %>">
		<ul>
			<li>Ingredients: <%= @ingredients_list[4]%></li>
			<li>Rating: <%= @ratings[4]%></li>
			<li>Go to blog: <a href="<%= "https://www.yummly.co.uk/recipe/" + "#{@id[4]}"%>"><%= "https://www.yummly.co.uk/recipe/" + "#{@id[4]}"%></a></li>
			<li>Total time: <%= @total_time[4].to_i / 60 %> minutes</li>
		</ul>
	</section>	

	<h2><%= @recipe_name_list[5]%></h2>
	<section>
		<img src="<%= @images[5].pop %>">
		<ul>
			<li>Ingredients: <%= @ingredients_list[5]%></li>
			<li>Rating: <%= @ratings[5]%></li>
			<li>Go to blog: <a href="<%= "https://www.yummly.co.uk/recipe/" + "#{@id[5]}"%>"><%= "https://www.yummly.co.uk/recipe/" + "#{@id[5]}"%></a></li>
			<li>Total time: <%= @total_time[5].to_i / 60 %> minutes</li>
		</ul>
	</section>	

	<h2><%= @recipe_name_list[6]%></h2>
	<section>
		<img src="<%= @images[6].pop %>">
		<ul>
			<li>Ingredients: <%= @ingredients_list[6]%></li>
			<li>Rating: <%= @ratings[6]%></li>
			<li>Go to blog: <a href="<%= "https://www.yummly.co.uk/recipe/" + "#{@id[6]}"%>"><%= "https://www.yummly.co.uk/recipe/" + "#{@id[6]}"%></a></li>
			<li>Total time: <%= @total_time[6].to_i / 60 %> minutes</li>
		</ul>
	</section>

	<h2><%= @recipe_name_list[7]%></h2>
	<section>
		<img src="<%= @images[7].pop %>">
		<ul>
			<li>Ingredients: <%= @ingredients_list[7]%></li>
			<li>Rating: <%= @ratings[7]%></li>
			<li>Go to blog: <a href="<%= "https://www.yummly.co.uk/recipe/" + "#{@id[7]}"%>"><%= "https://www.yummly.co.uk/recipe/" + "#{@id[7]}"%></a></li>
			<li>Total time: <%= @total_time[7].to_i / 60 %> minutes</li>
		</ul>
	</section>

	<h2><%= @recipe_name_list[8]%></h2>
	<section>
		<img src="<%= @images[8].pop %>">
		<ul>
			<li>Ingredients: <%= @ingredients_list[8]%></li>
			<li>Rating: <%= @ratings[8]%></li>
			<li>Go to blog: <a href="<%= "https://www.yummly.co.uk/recipe/" + "#{@id[8]}"%>"><%= "https://www.yummly.co.uk/recipe/" + "#{@id[8]}"%></a></li>
			<li>Total time: <%= @total_time[8].to_i / 60 %> minutes</li>
		</ul>
	</section>

	<h2><%= @recipe_name_list[9]%></h2>
	<section>
		<img src="<%= @images[9].pop %>">
		<ul>
			<li>Ingredients: <%= @ingredients_list[9]%></li>
			<li>Rating: <%= @ratings[9]%></li>
			<li>Go to blog: <a href="<%= "https://www.yummly.co.uk/recipe/" + "#{@id[9]}"%>"><%= "https://www.yummly.co.uk/recipe/" + "#{@id[9]}"%></a></li>
			<li>Total time: <%= @total_time[9].to_i / 60 %> minutes</li>
		</ul>
	</section>
	</body>
</html>

